@model Teatru.Web.ViewModels.RezervareViewModel

@{
    ViewData["Title"] = "RezervareDetails";
}

<h1>Detalii Rezervare</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedScenetaID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedScenetaID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedLocID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedLocID)
        </dd>
    </dl>
</div>
